body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 10px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-logo {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px;
  cursor: pointer;
  margin: 10px;
}

.header-logo:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(255, 0, 0, 0.6);
}

.buttons {
  display: flex;
  gap: 15px;
}

button {
  color: white;
  font-weight: bold;
  background-color: red;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.buttons button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(255, 0, 0, 0.6);
}

.deconnection {
  margin-right: 10px;
}
